body {
  background:#0e0e11;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
}

#auth, #app {
  width:300px;
  margin-top:60px;
}

input, button {
  width:100%;
  padding:10px;
  margin:5px 0;
  border-radius:8px;
  border:none;
}

button {
  background:#6a5cff;
  color:white;
  cursor:pointer;
}

#messages {
  height:300px;
  overflow:auto;
  background:#16161d;
  padding:10px;
  margin-bottom:10px;
}

.hidden {
  display:none;
}
